// TYPOGRAPHY
$base-font-family     : "FiraCode", "Courier New", monospace;
$accent-font-family   : "Lato", -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, sans-serif;
$base-font-size       : 14px;

// FONT-WEIGHT
$weight-normal        : 400;
$weight-semi          : 500;
$weight-bold          : 700;
$weight-black         : 900;

// COLORS
$color-base           : #0D3D53;
$color-base-dark-1    : #0C3B50;
$color-base-dark-2    : #09374C;
$color-base-dark-3    : #093448;
$color-base-dark-4    : #052F42;
$color-base-dark-5    : #042939;
$color-light          : #FFFFFF;
$color-accent         : #D2FF1F;

// SPACES
$spacer               : 1em;
