// TYPOGRAPHY
$base-font-family: 'Inter', -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, sans-serif;
$head-font-family: 'Sora', -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, sans-serif;
$base-font-size: 14px;
$base-font-size-medium: 16px;
$base-font-size-large: 18px;

// COLORS
$color-base: #ffffff;
$color-overlay: #000000;

// SPACES
$spacer: 1em;
