<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="Ersaldy Raisha | Modest Portolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:url" content="ersaldyraisha.me">
    <meta property="og:title" content="Ersaldy Raisha | Modest Portolio">
    <meta property="og:site_name" content="Ersaldy Raisha | Modest Portolio">
    <meta property="og:description" content="A Modest Portolio of Ersaldy Raisha">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="Ersaldy Raisha | Modest Portolio">
    <meta name="twitter:site" content="ersaldyraisha.me">
    <meta name="twitter:description" content="A Modest Portolio of Ersaldy Raisha">
    <meta name="twitter:title" content="Ersaldy Raisha | Modest Portolio">
    <meta name="twitter:image" content="">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <title>Ersaldy Raisha - Modest Portfolio</title>

    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="portfolio-app" ng-controller="mainCtrl">

    <main>
        <section class="section section-main">
            <div class="head-container">
                <div class="show-desktop">
                    <a href="https://www.facebook.com/ersaldyraisha" class="btn btn-round btn-fb btn-dark" target="_blank">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a href="mailto:andi.ersaldy@gmail.com?subject=Yo, I'll give you a job" class="btn btn-round btn-mail btn-dark" target="_blank">
                        <i class="far fa-envelope fa-2x"></i>
                    </a>
                </div>
                <div class="head-photo-container mb-1">
                    <img class="head" ng-src="assets/img/head2.jpg">
                    <img class="head" ng-src="assets/img/head1.jpg" ng-mouseover="headTrigger()" ng-mouseleave="headTrigger()" ng-class="{'is-not-active': isPhotoVisible}">
                </div>
                <div class="show-desktop">
                    <a href="https://github.com/ersaldyraisha" class="btn btn-round btn-github btn-dark" target="_blank">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/ersaldyraisha" class="btn btn-round btn-linkedin btn-dark" target="_blank">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="text-center show-mobile mb-1">
                <a href="https://www.facebook.com/ersaldyraisha" class="btn btn-round btn-fb btn-dark" target="_blank">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a href="mailto:andi.ersaldy@gmail.com?subject=Yo, I'll give you a job" class="btn btn-round btn-mail btn-dark" target="_blank">
                    <i class="far fa-envelope fa-2x"></i>
                </a>
                <a href="https://github.com/ersaldyraisha" class="btn btn-round btn-github btn-dark" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/ersaldyraisha" class="btn btn-round btn-linkedin btn-dark" target="_blank">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
            </div>
            <h1 class="text-normal text-black mb-0">Hi, I'm Raisha</h1>
            <h2 class="text-normal text-grey">the CSS guy.</h2>
            <p class="text-grey mb-3">
                <em>and UI designer too sometimes.</em>
            </p>
        </section>
        
        <section class="section section-works" ng-class="{'is-active': isListActive}">
            <button class="btn btn-red btn-dark btn-rounded btn-check" ng-click="showList()">
                <span ng-if="!isListActive">
                    <i class="fa fa-angle-up"></i>
                    My works
                </span>
                <span ng-if="isListActive">
                    <i class="fa fa-angle-down"></i>
                </span>
            </button>
            <div class="container">
            
                <div class="slider-container">
                    <slick class="slider mb-1" infinite="true" slides-to-show="3" slides-to-scroll="1" center-mode="true" prev-arrow=".slider-prev"
                        next-arrow=".slider-next" ng-class="{'is-active': isListActive}">
                        <div class="slider-item" ng-repeat="item in projectList">
                            <img class="slider-img mb-1" ng-src="{{item.img[0]}}">
                            <div class="slider-detail">
                                <h3 class="text-normal mb-0" ng-bind="item.name"></h3>
                                <p class="mb-0">
                                    <small ng-bind="item.type"></small>
                                </p>
                                <button class="btn btn-rounded mb-1" ng-click="detailTrigger(item.id)">See Detail</button>
                            </div>
                        </div>
                    </slick>
                    <div class="slider-background" ng-class="{'is-active': isListActive}"></div>
                    <div class="slider-background-container">
                        <button class="btn slider-btn slider-prev">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button class="btn slider-btn slider-next">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
        
            </div>

        </section>

        <section class="section section-detail" ng-class="{'is-active': isDetailActive}">
            <div class="project-container">
                <img class="project-img" ng-src="{{activeProject.img[0]}}" alt="">
                <div class="project-desc-container">
                    <div class="flexbox">
                        <button class="btn btn-round btn-red btn-dark btn-close" ng-click="detailTrigger()">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <div class="project-desc">
                            <h1 class="mb-0" ng-bind="activeProject.name"></h1>
                            <p><small ng-bind="activeProject.type"></small></p>
                            <div class="divider"></div>
                            
                            <p ng-bind="activeProject.desc"></p>
                            <div class="project-snapshot">
                                <img class="project-snapshot-item" ng-repeat="img in activeProject.img" ng-src="{{img}}" ng-alt="{{activeProject.name}}" ng-if="$index > 0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,promise,fetch"></script>
    <script src="assets/js/vendor/modernizr.min.js"></script>
    <script src="assets/js/vendor/jquery.min.js"></script>
    <script src="assets/js/vendor/angular.min.js"></script>
    <script src="assets/js/vendor/angular-route.min.js"></script>
    <script src="assets/js/vendor/object-fit-images.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/sprintf.min.js"></script>
    <script src="assets/js/vendor/baze.validate.min.js"></script>
    <script src="assets/js/vendor/angular-slick.min.js"></script>
    
    <script src="assets/js/main.min.js"></script>
</body>
</html>
