<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="Baze is a front-end starter template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content="">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <title>Ersaldy Raisha - Modest Portfolio</title>

    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="portfolio-app" ng-controller="mainCtrl">
    <!--[if lte IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- <div class="sticky-footer-container">
        <div class="sticky-footer-container-item">Header</div>
        <div class="sticky-footer-container-item --pushed">Content</div>
        <div class="sticky-footer-container-item">Footer</div>
    </div> -->

    <main class="section-parent">
        <section class="section section-main">
            <div class="head-container">
                <span class="show-desktop">
                    <a href="https://www.facebook.com/ersaldyraisha" class="btn btn-round btn-fb btn-dark">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a href="mailto:andi.ersaldy@gmail.com?subject=Yo, you just got a job!..." class="btn btn-round btn-mail btn-dark">
                        <i class="far fa-envelope fa-2x"></i>
                    </a>
                </span>
                <img class="head mb-1" ng-src="assets/img/{{head}}.png" ng-mouseover="headEnter()" ng-mouseleave="headLeave()">
                <span class="show-desktop">
                    <a href="https://github.com/ersaldyraisha" class="btn btn-round btn-github btn-dark">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/ersaldyraisha" class="btn btn-round btn-linkedin btn-dark">
                        <i class="fab fa-linkedin-in fa-2x"></i>
                    </a>
                </span>
            </div>
            <div class="text-center show-mobile mb-1">
                <a href="https://www.facebook.com/ersaldyraisha" class="btn btn-round btn-fb btn-dark">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a href="mailto:andi.ersaldy@gmail.com?subject=Yo, you just got a job!..." class="btn btn-round btn-mail btn-dark">
                    <i class="far fa-envelope fa-2x"></i>
                </a>
                <a href="https://github.com/ersaldyraisha" class="btn btn-round btn-github btn-dark">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/ersaldyraisha" class="btn btn-round btn-linkedin btn-dark">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
            </div>
            <h1 class="text-normal text-black mb-0">Hi, I'm Raisha</h1>
            <h2 class="text-normal text-grey">the CSS guy.</h2>
            <p class="text-grey mb-3"><em>and UI designer too sometimes.</em></p>
        </section>
        
        <section class="section section-works" ng-class="{'is-active': isListActive}" ng-controller="listCtrl">
            <button class="btn btn-red btn-dark btn-rounded btn-check" ng-click="showList()">
                <span ng-if="!isListActive">
                    <i class="fa fa-angle-up"></i>
                    Checkout my works
                </span>
                <span ng-if="isListActive">
                    <i class="fa fa-angle-down"></i>
                </span>
            </button>
            <div class="container">
                <!-- <h2 class="text-normal">so, here are some of my works</h2> -->
                <div class="slider-container">
                    <slick class="slider mb-1" infinite="true" slides-to-show="3" slides-to-scroll="1" center-mode= "true" prev-arrow=".slider-prev" next-arrow=".slider-next" ng-class="{'is-active': isListActive}">
                        <div class="slider-item" ng-repeat="item in projectList">
                            <img class="slider-img mb-1" ng-src="{{item.img[0]}}">
                            <div class="slider-detail">
                                <h3 class="text-normal mb-0" ng-bind="item.name"></h3>
                                <p class="mb-0"><small ng-bind="item.type"></small></p>
                                <button class="btn btn-rounded mb-1" ng-click="showDetail(item.id)">See Detail</button>
                            </div>
                        </div>
                    </slick>
                    <div class="slider-background" ng-class="{'is-active': isListActive}"></div>
                    <div class="slider-background-container">
                        <button class="btn slider-btn slider-prev">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button class="btn slider-btn slider-next">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>

            </div>
            <!-- <button class="btn btn-red btn-dark btn-rounded flex-end">Hire Me?</button> -->
        </section>
    </main>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,promise,fetch" defer></script>
    <script src="assets/js/vendor/modernizr.min.js" defer></script>
    <script src="assets/js/vendor/jquery.min.js" defer></script>
    <script src="assets/js/vendor/angular.min.js" defer></script>
    <script src="assets/js/vendor/object-fit-images.min.js" defer></script>
    <script src="assets/js/vendor/slick.min.js" defer></script>
    <script src="assets/js/vendor/sprintf.min.js" defer></script>
    <script src="assets/js/vendor/baze.validate.min.js" defer></script>
    <script src="assets/js/vendor/angular-slick.min.js" defer></script>
    
    <script src="assets/js/main.min.js" defer></script>
</body>
</html>
