@font-face {
  font-family: 'Circullar';
  src: url('../fonts/CircularStd-Book.woff') format('woff'),
       url('../fonts/CircularStd-Book.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Circullar';
  src: url('../fonts/CircularStd-BookItalic.woff') format('woff'),
       url('../fonts/CircularStd-BookItalic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Circullar';
  src: url('../fonts/CircularStd-Bold.woff') format('woff'),
       url('../fonts/CircularStd-Bold.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Circullar';
  src: url('../fonts/CircularStd-BoldItalic.woff') format('woff'),
       url('../fonts/CircularStd-BoldItalic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  700;
}
