.slider {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 70%);
    opacity: 0;
    
    @media #{$medium} {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 70%);
    opacity: 0;
    
    @media #{$medium} {
      opacity: 1;
    }
  }
}

.slider-container { 
  position: relative;
  padding: 0 ($space * 5);
  
  @media #{$small} {
    padding: 0;
  }
}

.slider-background-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 70%;
  height: 100%;
  transform: translateX(-50%);
  pointer-events: none;
  
  @media #{$medium} {
    width: 25%;
  }
}

.slider-background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  transform: translateX(-50%);
  background: #fff;
  opacity: 0;
  
  @media #{$medium} {
    opacity: 0.7;
  }

}

.slider-img {
  width: 100%;
  height: $space * 7;
  object-fit: cover;
  transform: scale(0.8);
  transition: all .3s ease;
  margin: 0;
}

.slider-item { 
  position: relative;
  padding-top: $space * 2;
}

.slider-detail {
  position: relative;
  opacity: 0;
  transition: all .3s ease;
}

.slider-btn {
  position: absolute;
  bottom: 55%;
  padding: 0;
  width: $space * 2;
  height: $space * 2;
  border-radius: 100px;
  pointer-events: all;
  background: #fff;
  
  @media #{$medium} {
    background: #ddd;
    bottom: 15%;
  }
}

.slider-prev {
  left: 0;
  transform: translateX(-50%);
}

.slider-next {
  right: 0;
  transform: translateX(50%);
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.slick-current {
    .slider-img {
    transform: scale(1.2);
  }
  .slider-detail {
    opacity: 1;
  }
}