.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: $black90;
  pointer-events: none;
  opacity: 0;
  transition: all .4s ease;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.project-modal-img {
  max-height: 100%;
  max-width: 100%;
}

.project-modal-close {
  position: absolute;
  top: $space;
  right: $space;
  width: $space * 2;
  height: $space * 2;
  font-size: 17px;
  
  @media #{$medium} {
      width: $space * 2.5;
      height: $space * 2.5;
      font-size: 12px;
  }
}