@font-face {
  font-family: Sora;
  font-display: swap;
  font-weight: 400;
  src: url('@/assets/fonts/sora-400.woff');
}

@font-face {
  font-family: Sora;
  font-display: swap;
  font-weight: 500;
  src: url('@/assets/fonts/sora-500.woff');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 400;
  src: url('@/assets/fonts/inter-400.woff2');
}

@font-face {
  font-family: Inter;
  font-display: swap;
  font-weight: 500;
  src: url('@/assets/fonts/inter-500.woff2');
}
