/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    text-decoration-skip: ink;
    color: $black90;
    overflow-x: hidden;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.block {
    margin-bottom: $space;
}

.block-half {
    margin-bottom: ($space / 2);
}

.container {
    width: 90%;
    //max-width: 1024px;
    margin: 0 auto;
}

.cloak {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: -10;
}

.ng-cloak {
    display: none !important;
}

.ng-anim{
    
    &.ng-enter {
        transition: 0.7s ease all;
        //transform: translateX(100%);
        opacity: 0;
        
        &.ng-enter-active {
            //transform: translateX(0);
            opacity: 1;
        }
    }
}




// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //
